@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /*Fonts*/
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-kumbh-sans: "Kumbh Sans", sans-serif;

  /*Colors*/
  --color-brand: var(--color-green-600);
  --color-brand-hover: var(--color-green-500);
  --color-body-bg: var(--color-gray-50);
  --color-nav-footer-bg: var(--color-white);
  --color-title: var(--color-slate-950);
  --color-paragraph: var(--color-gray-900);
  --color-label: var(--color-paragraph);
  --color-placeholder: var(--color-gray-400);
  --color-link: var(--color-slate-800);
  --color-link-hover: var(--color-slate-700);
  --color-focus: var(--color-blue-500);
  --color-focus-error: var(--color-red-500);
  --color-card: var(--color-nav-footer-bg);
  --color-input: var(--color-slate-300);
  --color-input-error: var(--color-focus-error);
}

/*Theme transition utility*/
@utility theme-transition {
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out 150ms,
    border-color 300ms ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

/*Focus visible utility*/
@utility focus-ring {
  outline-style: solid;
  outline-width: 3.2px;
  outline-color: var(--color-focus);
}

@layer base {
  body {
    font-family: var(--font-kumbh-sans);
    background-color: var(--color-body-bg);
  }

  /*Dark theme custom variables*/
  .dark {
    --color-brand: var(--color-green-500);
    --color-brand-hover: var(--color-green-400);
    --color-body-bg: var(--color-slate-900);
    --color-nav-footer-bg: var(--color-slate-950);
    --color-title: var(--color-white);
    --color-paragraph: var(--color-slate-200);
    --color-label: var(--color-title);
    --color-placeholder: var(--color-paragraph);
    --color-link: var(--color-slate-200);
    --color-link-hover: var(--color-slate-300);
    --color-focus: var(--color-cyan-400);
    --color-focus-error: var(--color-red-300);
    --color-card: var(--color-gray-700);
    --color-input: var(--color-title);
    --color-input-error: var(--color-focus-error);
  }

  .dark body {
    background-color: var(--color-body-bg);
  }
}
